body {
  font-family: monospace;
  height: 100vh;
  margin: 0;
  text-align: center;
}

#root { height: 100%; }

.router {
  position: absolute;
  left: 1em;
  top: 1em;
  z-index: 9999;
  background: rgba(255,255,255,0.8);
  padding: 1em;
  border: 1px solid black;
  text-align: left;
}
